body {
    background-color: blue;
}

.register {
    width: 120px;
    height: 30px;
    background-color: yellow;
    border-radius: 10px;
    border-style: none;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color:blue;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;
    color: yellow;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 15px;
    color: white;
}

.grey-box {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
}

p {
    color: blue;
    margin-bottom: 5px;
}

input {
    border-style: none;
    border-radius: 20px;
    margin-top: 0px;
    height: 30px;
    width: 200px;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.sign {
    background-color: yellow;
    height: 30px;
    width: 90px;
    border-style: none;
    border-radius: 10px;
    color: blue;
}